body{
    font-family: 'Bebas Neue', cursive;
    color: black;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25px;
    text-align: center;
}
.parallax{
    background: url('https://github.com/dannihjalta/111mufucca/blob/master/DaBigPhat2.jpg?raw=true') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}
a{
    text-decoration: none;
    color: black;
}
 a:hover {
    color: gray;
  }

h1, h2{
    text-align: center;
}
